body {
	background-color: #f1f1f1;
	scrollbar-face-color: #000000; 
	scrollbar-shadow-color: #000000;
	scrollbar-highlight-color: #000000;
	scrollbar-3dlight-color: #000000; 
	scrollbar-darkshadow-color: #000000; 
	scrollbar-track-color: #000000; 
	scrollbar-arrow-color: #000000;
}


.conteneur{
	text-align: center;
	margin: auto
}
.middle{
	height:500px;
}